/* --------------- BASIC SETTING PAGES ---------------- */

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    overflow: hidden visible;
    background-color: #2a2927;
}

/* .grid {
    display: grid;
    grid-template-columns: 350px [main-start] 350px [main-end] 50vh;
    grid-template-rows: 40px [main-start] 300px 100px[main-end] 20vw;
} */

.box {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
     /* align-items: center; */
    /* flex-direction: row;  */
}


/* --------------- PROFILE ---------------- */

nav#profile li {
    float: left;
    padding: 3vh;
    display: block;
    color: black;
    background-color:#dce4e6;
    box-shadow: rgb(0, 0, 0) 1px 1px 7px;
    transform: translate(100px, 100px);
}

nav#profile li a:is(:link, :visited){
    text-decoration: none;
    color: black;
    background-color: #dce4e6;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.555) 1px 1px 5px;
    transition: .25s;
}

nav#profile li a:is(:hover){
    color: white;
    text-shadow: rgb(255, 255, 255) 1px 1px 5px;
    background-color: black;
/* 
    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 3;
    grid-row-end: 5;

*/
}

nav#profile li a:active{
    transform: scale(0.8);
}




h1 {
    color:coral;
    text-shadow: black 1px 0px 2px;
    text-align: center;
}


#me {
    box-shadow: black 3px 3px 4px;;
    border-radius: 50%;
    transform: translate(50px, 50px);
}

#Information {
    margin: 0 auto;
    font-size: 15px;
    text-align: left;
    background-color: white;
    border-radius: 15%;
    justify-content: center;
    padding: 1em;
    width: 800px;
    height: 500px;
    transform: translate(-35px, 120px);
    
    position: relative;
    animation: mymove 5s infinite alternate;
    animation-delay:  1s;
}

@keyframes mymove {
    from {top: 0px;
    }
    to {top: 10px;
    }
    
}

h3 {
    transform: translate(450px, -250px);
}

.social {
    transform: translate(380px, -320px);
}