/* --------------- BASIC SETTING PAGES ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');

body {
  width: 70vw;
  height: 70vh;
  margin: 0;
  font-family: 'Athiti', sans-serif, "Franklin Gothic Medium", "Arial Narrow";
  overflow: hidden visible;
  background-color: #2a2927;
  font-weight: 600;
  font-size: 1.2vw;
}

.container {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns:  1fr;
  grid-template-rows: 1fr, 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 { 
  grid-area: 1 / 1 / 2 / 2; 
}
.div2 { 
  grid-area: 2 / 1 / 3 / 2; 
  display: flex;
  justify-content: center;
}

.box {
  width: 100vw;
  height: 100vh;
}

/* ---------------- MENU ---------------- */

nav#special {
  margin-top: 2vw;
}

nav#special li {
  display: inline;
}

nav#special li,a {
  padding: 1vh;
  width: 10vw;
  height: 10vh;
  border-radius: 20%;
  text-decoration: none;
  color: black;
  text-shadow: rgb(255, 255, 255) 1px 1px 5px;
  text-align: center;
}

nav#special a:is(:link, :visited) {
  text-decoration: none;
  color: rgb(48, 48, 48);
  background-color: #dce4e6;
  text-shadow: rgba(0, 0, 0, 0.555) 1px 1px 5px;
  transition: 0.25s;
}

nav#special li,
a:active {
  transform: scale(0.8);
}
nav#special a {
  box-shadow: rgb(174, 105, 105) 0.1em 0.4em 0.6em;
}

nav#special a:hover {
  color: rgb(125, 109, 229);
  background-color: black;
}

/* --------------- special ---------------- */

#whitepaperSpecial {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-right: 10em;
  width: 50vw;
  height: 70vh;
  background-color: rgb(183, 113, 110);
  box-shadow: #3c1717 0.5em 0.5em 0.8em;
  border-radius: 20%;
}

h1 {
  font-size: 2.2em;
  text-align: center;
  color: rgb(212, 81, 81);
  text-shadow: 0em 0em 0.4em rgb(170, 1, 1);
  transform: translate(13.5em,0em);
}

h2 {
  color: rgb(76, 40, 40);
  text-align: center;
  transform: translate(1em,0em);
}

.content  {
  margin-top: 12%;
  overflow-y: auto;
  overflow-x: hidden;
  width: 75vw;
  height: 70%;

}

h3#special {
  background-color: transparent;
  margin-left: 5em;
  text-align: left;
  font-size: 0.9em;
  font-weight: 600;
}

::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.555);
}

::-webkit-scrollbar-track {
  background-color: transparent
  

}

::-webkit-scrollbar-thumb {
  background-color: rgb(112, 64, 64);
  border-radius: 24%;

}

.Back {
  text-align: center;
  transform: translate(-40em, 27em);
  width: 5%;
}

.Back a:link,a:visited{
  color:rgb(197, 45, 45);
  background-color: rgb(249, 171, 171);
  font-size: 1.8em;
  font-weight: 600;
  border-radius: 15%;
  box-shadow: 0.2em 0.2em 1em rgb(23, 22, 19);
}
  
  
  .Back a:hover{
    color: rgb(87, 1, 109);
    background-color: rgb(174, 108, 255);
  }
  
  
  